.sidenav {
  height: 100vh;
  width: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: #042235;
  margin: auto;
  z-index: 1;
}

.iconBox {
  height: 80px;
  width: 80px;
  margin-left: 0px;
}

.icon {
  margin-top: 15px;
}

.iconBox:last-of-type {
  position: absolute;
  bottom: 20px;
}

.iconBox:hover {
  background-color: #2995da;
}
